<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电子病历</title>
    <link rel="stylesheet" type="text/css" href="/css/comm.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <!--<link rel="stylesheet" type="text/css" href="/css/record/index.css">-->
    <script src="/js/comm.js" type="text/javascript"></script>
    <script src="/layui/layui.js"></script>
    <script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/js/record/index.js" type="text/javascript"></script>
</head>
<body>
<h1>病历记录查看</h1>
<table class="layui-table">
    <thead>
    <tr>
        <th>配置主表id</th>
        <th>主键</th>
        <th>标题</th>
        <th>创建时间</th>
        <th>修改时间</th>
        <th>记录状态</th>
        <th>备用</th>
        <th>备用1</th>
        <th>备用2</th>
        <th>备用3</th>
        <th>备用4</th>
        <th>备用5</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody id="datalist"></tbody>
</table>
</body>
</html>