<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电子病历</title>
    <link rel="stylesheet" type="text/css" href="/css/comm.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/css/record/record.css">
    <script src="/js/comm.js" type="text/javascript"></script>
    <script src="/layui/layui.js"></script>
    <script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/js/record/record.js" type="text/javascript"></script>
</head>
<body>
<div id="optfile"></div>
</body>
</html>